.container {
    position: relative;
    width: 100px;
    margin: 0 auto;
    display: inline-block;
  }
  
  .image {
    text-align: center;
    display: block;
    width: 100px;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    background-color: rgb(rgba(118, 0, 0, 0.094));
    overflow: hidden;
    width: 100px;
    height: 0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100px;
  }
  
  .text {
    white-space: nowrap; 
    color: white;
    font-size: 15px;
    position: absolute;
    overflow: hidden;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }