.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 1.5vw;
}

h2 {
  font-size: 30px;
  padding: 5px;
  margin-top: 10px;
  color: rgb(0, 59, 87);
}

h3 {
  padding: 10px;
  width: 700px;
  margin: auto;
  margin-top: 20px;
  color: rgb(88, 88, 88);
}


p {
  text-align: justify;
  max-width: 700px;
  margin: 0 auto;
  padding: 8px;
  font-size: 15;
  border: 2px rgb(0, 0, 0);
  border-radius: 5px;
}


div.gallery {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.521), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
}

div.gallery:hover {
  border: 1px solid #777;
  border-radius: 1px;
}

div.gallery img {
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
}

div.desc {
  padding: 15px;
  text-align: center;
  background-color: #ffffff;
}
.galleryContainer {
  flex-wrap: wrap;
  margin: auto;
  display: flex;
  max-width: 1200px;
  justify-content: center;
}
.imgfluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 470px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  
}
body {
  background-image: linear-gradient(rgb(255, 255, 255), rgb(211, 237, 255), rgb(173, 222, 255));
  background-repeat: no-repeat;
}
.bgContainer {
  background-origin: content-box;
}
.bgCenter {
  padding: 10px;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
img { 
  width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #777777;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e7b8e}

.button:active {
  background-color: #347a8f;
  box-shadow: 0 4px #2b2b2b;
  transform: translateY(4px);
}